# https://editorconfig.org

# Top-Most EditorConfig File
root = true

# Unix-Style Newlines & Newline Ending Every File
# UTF-8 Charset & Default Indent Style and Length
[*]
end_of_line = lf
insert_final_newline = true

charset = utf-8

indent_style = tab
indent_size = 4
