# –––––––––––––––––––––––––––––––––––––––––––––––
# ––– IDEs ––––––––––––––––––––––––––––––––––––––
# –––––––––––––––––––––––––––––––––––––––––––––––

.vscode/*
!.vscode/settings.json
**/.idea

# –––––––––––––––––––––––––––––––––––––––––––––––
# ––– Rust ––––––––––––––––––––––––––––––––––––––
# –––––––––––––––––––––––––––––––––––––––––––––––

**/target
target
target/*
target/rls

**/Cargo.lock
**/*.rs.bk

# –––––––––––––––––––––––––––––––––––––––––––––––
# ––– Miscellaneous –––––––––––––––––––––––––––––
# –––––––––––––––––––––––––––––––––––––––––––––––

tools
