# –––––––––––––––––––––––––––––––––––––––––––––––
# ––– IDEs ––––––––––––––––––––––––––––––––––––––
# –––––––––––––––––––––––––––––––––––––––––––––––

.vscode/*
!.vscode/settings.json
**/.idea

# –––––––––––––––––––––––––––––––––––––––––––––––
# ––– Miscellaneous –––––––––––––––––––––––––––––
# –––––––––––––––––––––––––––––––––––––––––––––––

tools
