! With the help of https://terminal.sexy/

!################################### XFT

Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               true
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcdfilter

!################################### Colors

! special
*.foreground:   #c5c8c6
*.background:   #232527
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #ce3f3f
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color6:       #5f819d
*.color14:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color4:       #5e8d87
*.color12:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6


!################################### Legacy Colors (disabled)

!! Dark Gunmetal
!*background: #2A363B
!*pointerColorBackground: #2A363B

!! Platinum
!*foreground: #E5E8E7
!*cursorColor: #E5E8E7
!*pointerColorForeground: #E5E8E7

!! Paradise Pink
!*color0: #E84A5F
!*color8: #E84A5F

!*color1: #E84A5F
!*color9: #E84A5F

!! Tea Rose
!*color2: #FF847C
!*color10: #FF847C

!*color3: #FF847C
!*color11: #FF847C

!! Apricot
!*color4: #FECEAB
!*color12: #FECEAB

!*color5: #FECEAB
!*color13: #FECEAB

!! Laurel Green
!*color6: #9AB29A
!*color14: #9AB29A

!*color7: #9AB29A
!*color15: #9AB29A

############################################ ROFI

rofi.fullscreen:        true
rofi.color-enabled:     true

rofi.color-window:      argb:e8080A0A,argb:00000000,#E95167
rofi.color-normal:      argb:02000000,#E5E8E7,argb:02000000,argb:02000000,#E95167
rofi.color-active:      argb:02000000,#E5E8E7,argb:02000000,argb:02000000,#E95167
rofi.color-urgent:      argb:02000000,#E5E8E7,argb:02000000,argb:02000000,#E95167

rofi.font:              RobotoMono NF 14
rofi.eh:                2
rofi.line-padding:      20
! rofi.line-margin:       20
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.lines:             5
rofi.width:             100
rofi.padding:           200
rofi.bw:                0
rofi.show-icons:        true

rofi.threads:           0
rofi.terminal:          "urxvt"
rofi.no-plugins:        true
rofi.auto-select:       true
rofi.show-match:        true

############################################ URXVT

URxvt*imLocale:             de_DE.UTF-8

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       10
URxvt.lineSpace:            0
URxvt.letterspace:          -1
URxvt.cursorBlink:          0

URxvt*saveLines: 12000

! scrolling
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*scrollstyle:          plain
URxvt.scrollWithBuffer:     true

!! Dark Gunmetal (Legacy)
URxvt*background: rgba:0000/0000/0000/9999

!! Platinum (Legacy)
URxvt*foreground: #E5E8E7

! Transparency - true or false (default)
URxvt*transparent: true

! Shading - 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 40

! Roboto Mono Nerd Font
URxvt*font: xft:RobotoMono NF:style=Regular:pixelsize=14, \
            xft:Iosevka Nerd Font Mono:style=Regular:pixelsize=14
URxvt*boldFont: xft:RobotoMono NF:style=Bold:pixelsize=14, \
                xft:Iosevka Nerd Font Mono:style=Bold:pixelsize=14

! Extensions
URxvt.perl-ext-common: default,selection-to-clipboard,resize-font,matcher
URxvt.perl-ext:

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Copy & Paste with Control-Shift-c/v
URxvt.clipboard.autocopy: true

! Matcher (clickable URLs)
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1