!       _  __                                               
!      | |/ /________  _________  __  _______________  _____
!      |   // ___/ _ \/ ___/ __ \/ / / / ___/ ___/ _ \/ ___/
!   _ /   |/ /  /  __(__  ) /_/ / /_/ / /  / /__/  __(__  ) 
!  (_)_/|_/_/   \___/____/\____/\__,_/_/   \___/\___/____/  
!                                                         
! ! XRESOURCES - CONFIGURATION FOR X(org)
! ! $HOME/.Xresources
!
! version   0.2.11
! author    aendeavor@Georg Lauterbach

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

! XFT

Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               true
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcdfilter

! Colors

!! special
*.foreground:   #f3eff5
*.background:   #1e1f29
*.cursorColor:  #f3eff5

!! black
*.color0:       #202125
*.color8:       #3d4146

!! red
*.color1:       #ef3b3b
*.color9:       #ed5d5d

!! green
*.color2:       #8c9440
*.color10:      #b5bd68

!! yellow
*.color3:       #de935f
*.color11:      #f0c674

!! blue
*.color4:       #5f819d
*.color12:      #81a2be

!! magenta
*.color5:       #85678f
*.color13:      #b294bb

!! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

!! white
*.color7:       #707880
*.color15:      #c7c3c9

! URXVT

URxvt*imLocale:             de_DE.UTF-8

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       10
URxvt.lineSpace:            0
URxvt.letterspace:          -1
URxvt.cursorBlink:          0

URxvt*saveLines: 12000

URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*scrollstyle:          plain
URxvt.scrollWithBuffer:     true

URxvt*background: rgba:0000/0000/0000/9999
URxvt*foreground: #E5E8E7

URxvt*transparent: true
URxvt*shading: 55
URxvt*blurRadius: 7

URxvt*font: xft:RobotoMono NF:style=Regular:pixelsize=13, \
            xft:Iosevka Nerd Font Mono:style=Regular:pixelsize=13
URxvt*boldFont: xft:RobotoMono NF:style=Bold:pixelsize=13, \
                xft:Iosevka Nerd Font Mono:style=Bold:pixelsize=13

!! Extensions
URxvt.perl-ext-common: default,selection-to-clipboard,resize-font,matcher
URxvt.perl-ext:

!! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

!! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

!! Copy & Paste with Control-Shift-c/v
URxvt.clipboard.autocopy: true

!! Matcher (clickable URLs)
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

