!! ~/.Xresorces

!################################### XFT

Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcdfilter

!################################### Colors

! Dark Gunmetal
*background: #2A363B
*pointerColorBackground: #2A363B

! Platinum
*foreground: #e5e8e7
*cursorColor: #e5e8e7
*pointerColorForeground: #e5e8e7

! Paradise Pink
*color0: #E84A5F
*color8: #E84A5F

*color1: #E84A5F
*color9: #E84A5F

! Tea Rose
*color2: #FF847C
*color10: #FF847C

*color3: #FF847C
*color11: #FF847C

! Apricot
*color4: #FECEAB
*color12: #FECEAB

*color5: #FECEAB
*color13: #FECEAB

!! Laurel Green
*color6: #9ab29a
*color14: #9ab29a

*color7: #9ab29a
*color15: #9ab29a

############################################ URXVT

URxvt*imLocale:             de_DE.UTF-8

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       10
URxvt.lineSpace:            0
URxvt.letterspace:          -1
URxvt.cursorBlink:          0

URxvt*saveLines: 12000

! scrolling
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
URxvt*scrollstyle:          plain
URxvt.scrollWithBuffer:     true

! Dark Gunmetal
URxvt*background: #1b202a

! Platinum
URxvt*foreground: #e5e8e7

! transparency - true or false (default)
URxvt*transparent: true

! shading - 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 25

! Roboto Mono Nerd Font
URxvt*font: xft:RobotoMono NF:style=Regular:pixelsize=14, \
            xft:Iosevka Nerd Font Mono:style=Regular:pixelsize=14
URxvt*boldFont: xft:RobotoMono NF:style=Bold:pixelsize=14, \
                xft:Iosevka Nerd Font Mono:style=Bold:pixelsize=14

! Extensions
URxvt.perl-ext-common: default,selection-to-clipboard,resize-font,matcher
URxvt.perl-ext:

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Copy & Paste with Control-Shift-c/v
URxvt.clipboard.autocopy: true

! Matcher (clickable URLs)
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
